/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
  overflow-x: scroll;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.home-card {
  width: 500px;
}
.home-card,
.home-list {
  box-shadow: 10px 10px 30px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 30px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px -11px rgba(0, 0, 0, 0.75);
}
.home-card img {
  width: 100%;
}

.centering {
  text-align: -webkit-center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e5e5e5;
}

.footer a {
  color: #000;
  text-decoration: none;
}
.footer img {
  width: 1.3em;
}

/* media queries */
@media screen and (max-width: 600px) {
  .home-card {
    width: 100%;
  }
  .errorImage {
    width: 100%;
  }
  .footer {
    position: relative;
  }
  .footer ul {
    flex-direction: column;
  }
  .footer ul li {
    padding: 0.6em;
  }
}
